{% extends 'base.html' %}

<h1>{% block title %} Connexion {% endblock %}</h1>

{% block content %}
  <form class="" action="{{ url_for('connexion') }}" method="post">
    <label for="">Identifiant</label>
    <input type="text" name="identifiant" placeholder="identifiant"><br>

    <label for="">Mot de passe</label>
    <input type="password" name="password" placeholder="password"><br>

    <button type="submit" name="submit">Connexion</button>
  </form>
  <a href="{{ url_for('inscription') }}"><h5>Créer un compte</h5></a>
{% endblock %}
